<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div style="background-color: #f2f2f2; padding: 20px;">
        <h1 style="color: #ff5722; font-family: Arial, sans-serif;">
            Welcome to our Blogging Platform.
        </h1>
        <p style="font-family: Arial, sans-serif; color: #555;">
            Welcome to our community.<br>
            We are excited to have you on board.<br><br>
            <i><b>Thank you for registering.</b></i>
        </p>
    </div>
</body>
</html>




